---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Backbutton from "../../ui/backbutton.astro";
import MarkdownContent from "../../ui/MarkdownContent.astro";

export const prerender = true;

export async function getStaticPaths() {
  const STAFF = await getCollection("staff");

  return STAFF.map((staff) => ({
    params: { slug: staff.slug },
    props: { staff },
  }));
}

const { staff } = Astro.props;
const { data, slug } = staff;
const { fullName, linkedin, photo, language, roleIT, gender } = data;
---

<Layout title={fullName}>
  <div class="p-4">
    <Backbutton />

    <div
      class="flex flex-col md:flex-row md:justify-center items-start gap-8 mt-6"
    >
      <!-- Foto del Staff -->
      <div class="w-full md:w-1/4">
        <img
          src={photo || `/default/default-${gender}.jpg`}
          alt={`Foto de ${fullName}`}
          class="w-full h-auto rounded-full shadow-lg object-cover hover:scale-105 transition-all duration-300"
        />
      </div>

      <!-- Información del Staff -->
      <div class="w-full md:w-1/3 flex flex-col gap-4">
        <!-- Nombre -->
        <h1
          class="text-5xl font-bold text-primary mb-4 text-center md:text-left"
        >
          {fullName}
        </h1>

        <!-- LinkedIn -->
        {
          linkedin && (
            <p class="text-lg text-center md:text-left">
              <strong>LinkedIn:</strong>
              <a
                href={`https://www.linkedin.com/in/${linkedin}`}
                target="_blank"
                class="text-blue-600 underline ml-2">
                {linkedin}
              </a>
            </p>
          )
        }

        <!-- Roles de IT -->
        <div>
          <h2 class="text-2xl font-semibold text-secondary mt-4">Roles:</h2>
          <ul class="text-gray-600 list-disc pl-5 mt-2">
            {roleIT.map((role, index) => <li key={index}>{role}</li>)}
          </ul>
        </div>

        <!-- Lenguajes -->
        <div>
          <h2 class="text-2xl font-semibold text-secondary mt-4">Lenguajes:</h2>
          <div class="flex flex-wrap gap-2 mt-2">
            {
              language.map((lang, index) => (
                <span
                  key={index}
                  class="px-4 py-2 bg-indigo-100 text-indigo-600 text-sm rounded-full transition-colors duration-300 hover:bg-indigo-200">
                  {lang}
                </span>
              ))
            }
          </div>
        </div>
      </div>
    </div>

    <!-- Descripción del Staff -->
    <div class="mt-10">
      <MarkdownContent content={staff} />
    </div>
  </div>
</Layout>

<style>
  img.rounded-full {
    border: 4px solid #f3f3f3;
    transition:
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease;
  }

  img.rounded-full:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
</style>
