---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import StaffSlider from "../../components/staff/StaffSlider";
import Slider from "../../ui/Slider/Slider";
import Backbutton from "../../ui/backbutton.astro";
import Deploy from "../../components/icons/Deploy.ico.astro";
import StaffDisplay from "../../components/staff/StaffDisplay.astro";

export const prerender = true;

export async function getStaticPaths() {
  const SAMPLES = await getCollection("samples");

  return SAMPLES.map((sample) => ({
    params: { slug: sample.slug },
    props: { sample },
  }));
}

const { sample } = Astro.props;
const { data, slug } = sample;
const { title, description, media, deploy, images, staff } = data;
---

<Layout title={title}>
  <div class="p-4">
    <Backbutton />

    <div class="flex flex-col md:flex-row items-start gap-6 mt-6">
      <!-- Imagen o media del sample -->
      <div class="w-full md:w-1/2 overflow-hidden">
        <Slider client:only="react" images={images} title={title} />
      </div>

      <!-- Información del sample -->
      <div class="w-full md:w-1/2 flex flex-col gap-4">
        <!-- Header -->
        <div class="flex gap-3">
          <!-- Título del sample -->
          <h1 class="text-4xl font-bold text-primary mb-4">{title}</h1>
          <!-- Enlace de despliegue -->
          {
            deploy && (
              <a href={deploy} target="_blank" rel="noopener noreferrer">
                <Deploy class="size-9" />
              </a>
            )
          }
        </div>

        <!-- Descripción -->
        <p class="text-lg text-gray-700 leading-relaxed">{description}</p>

        <!-- Usuarios relacionados -->
        <StaffDisplay staffSlugs={staff} />

        <!-- Media relacionados -->
        {
          media && media.length > 0 && (
            <div class="mt-4">
              <h2 class="text-2xl font-semibold text-secondary">Media:</h2>
              <ul class="list-disc pl-5 mt-2 text-blue-600">
                {media.map((url, index) => (
                  <li key={index}>
                    <a
                      href={url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="underline hover:text-blue-800">
                      {url}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          )
        }
      </div>
    </div>
  </div>
</Layout>
