---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
const { images = [], title } = Astro.props;
---

{images.length === 1 ? (
  // Mostrar solo la imagen si hay una
  <img
    src={images[0]}
    alt={`Imagen de ${title}`}
    class="w-full h-auto rounded-lg shadow-lg object-cover"
  />
) : (
  // Mostrar el carrusel si hay varias im치genes
  <div class="w-full h-auto relative max-w-full overflow-hidden">
    <div class="carouselSwiper swiper">
      <div class="swiper-wrapper">
        {images.map((image, index) => (
          <div class="swiper-slide" key={index}>
            <img
              src={image}
              alt={`Imagen ${index + 1} de ${title}`}
              class="w-full h-auto object-cover rounded-lg shadow-lg"
            />
          </div>
        ))}
      </div>

      <!-- Flechas de navegaci칩n -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- Paginaci칩n -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
)}

<script type="module">
  import Swiper from "swiper/swiper-bundle.min.js";
  import { Navigation, Pagination } from "swiper/modules";

  // window.addEventListener("load", () => {
  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(".carouselSwiper", {
      modules: [Navigation, Pagination],
      spaceBetween: 10,
      slidesPerView: 1,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-prev",
        prevEl: ".swiper-button-next",
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  });
</script>

<style>
  .carouselSwiper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .carouselSwiper .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .carouselSwiper .swiper-slide {
    width: 100% !important; /* Evita que Swiper fuerce un tama침o mayor */
    max-width: 100%;
  }

  .carouselSwiper .swiper-button-prev,
  .carouselSwiper .swiper-button-next {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    font-size: 14px;
  }

  .carouselSwiper .swiper-pagination {
    position: absolute;
    bottom: 10px;
  }
</style>
