---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";

import { getCollection } from "astro:content";

const { staffSlugs = [] } = Astro.props;
const staff = await getCollection("staff");

// Filtrar los usuarios por los slugs proporcionados
const filteredStaff = staff.filter((staff) => staffSlugs.includes(staff.slug));

const defaultPhoto = {
  boy: "/default/default-boy.jpg",
  girl: "/default/default-girl.jpg",
};
---

<div class="staffSwiper w-full h-auto">
  <div class="swiper-wrapper flex justify-center">
    {
      filteredStaff.map((staff, index) => (
        <div class="swiper-slide text-center gap-2" key={index}>
          <a href={`/staff/${staff.slug}`}>
            <img
              src={
                staff.data.photo ||
                defaultPhoto[staff.data.gender] ||
                "/default/default-boy.jpg"
              }
              alt={`Foto de ${staff.data.fullName}`}
              class="w-24 h-24 object-cover rounded-full shadow-lg"
            />
            <h3 class="text-lg font-bold">{staff.data.fullName}</h3>
            <p class="text-sm text-gray-500">{staff.data.roleIT[0]}</p>
          </a>
        </div>
      ))
    }
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>

<script type="module">
  import Swiper from "swiper";
  import { Navigation, Pagination, Autoplay } from "swiper/modules";

  document.addEventListener("DOMContentLoaded", () => {
    new Swiper(".staffSwiper", {
      modules: [Navigation, Pagination, Autoplay],
      spaceBetween: 20,
      slidesPerView: 3,
      loop: true,
      navigation: {
        nextEl: ".staffSwiper .swiper-button-next",
        prevEl: ".staffSwiper .swiper-button-prev",
      },
      pagination: {
        el: ".staffSwiper .swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        640: { slidesPerView: 1 },
        768: { slidesPerView: 2 },
        1024: { slidesPerView: 3 },
      },
    });
  });
</script>

<style>
  .staffSwiper .swiper-slide {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .staffSwiper .swiper-pagination {
    margin-top: 10px;
  }
</style>
